* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
	
}

body{
	min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #C0C0C0;
    overflow-x: hidden;
}

nav {
	position: fixed;
	min-height: 94%;
	width: 14%;
	margin-top: 3.7%;
	z-index: 99;
	background-color: #004349;
}

nav> ul > li > a {
	text-decoration: none;
	transition: all 0.3s ease 0;
	margin-left: 4%;
	color: #fff;
}

ul > li > a:hover {
	color:#00a683 ;
}

nav>ul>li
{
	padding: 1px;
	font-size: 20px;
	list-style-type: none;
}

li, a, button {
    font-family: 'Arial', Times, serif;
    font-size: 16px;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 1%;
	background-color: #004349;
	
}

.logo-nav {
    display: flex;
    align-items: center;
	padding: 4px 1%;
}
.logo{
	margin-right: 10px;
	pointer-events: none;
	font-size: 18px;
	color: #fff;
}

.logo a{
	color:#00a683
}

.login-button {
	float: right;
    margin-left: auto; 
	border: none;
}
.user{
	pointer-events: none;
	color: #fff;
}

button:not(.btn-editar):not(#cancelar):not(#salvar):not(.close) {
	margin-inline-start: 1800%;
    padding: 6px 10px;
    border-radius: 15px;
	color: #004349;
	background-color: #FFFFFF;
    border: none;
}

button:not(.btn-editar):not(.excluir):hover {
	color:#00a683 ;
}

section {
	position: fixed;
	margin-top: 0.2%;
	z-index: 94;
	background-color: #fff;
	width: 88%;
	min-height: 92vh;
	margin-left: 14%;
}

hr {
	background-color: #fff;
}

h2 {
	color:#fff; 
	margin: 4%;
	padding: 2%;
}

.thead-dark {
	background-color: #004349;
	color: #fff;
}
  
.thead-dark td {
	font-weight: bold;
	margin: 2px;
	justify-content: center;
	align-items: center;
}
.div-tabela{
	position: relative;
	margin-top: 0.2%;
	z-index: 94;
	background-color: #f5f5f5;
	color: #00a683;
	width: 80%;
	margin-left: 3%;
	
}

#modal-container{
	width: 100vw;
	height: 100vw;
	background-color:rgba(0, 0, 0, 0.5);
	position:fixed;
	top: 0%;
	left: 0%;
	z-index: 2000;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	animation: modal .7s;

}

@keyframes modal {
	from {
		opacity: 1;
		transform: translate3d(0, -60px, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}

#modal {
	width: 60%;
	height: 300px;
	padding-top: 1%;
	margin-inline-start: 41.1%;
	background-color: #C0C0C0;
	margin-bottom: 4%;
	color: #fff;
	position: absolute;
	top: 18%;
	margin-inline-start: 55%;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	display: block;
}

form{
	padding:4%;
}
.btn-editar {
	width: 40%;
	margin-top: 5%;
	background-color:#F5F5F5;
	color: #004349;
	border: none;
	padding: 0;
	cursor: pointer;
}
  
.btn-editar i {
	font-size: 16px;
}

.btn-editar:hover {
	background-color: #f5f5f5;
	color: #00a683;
}
  